.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 12s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  margin: 3px; 
  padding: 9px;
  border-radius: 30%;
  color: white;
}

.green {
  background-color: rgba(108, 142, 35, 0.9);

}

.orange {
  background-color: #AF6F00;
}