.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 12s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.orange-button {
  background-color: orange;
  margin: 5px; 
  padding: 5px;
}

.green-button {
  background-color: lightgreen;
  margin: 5px; 
  padding: 5px;
}